<h1>Listing topics</h1>
<%= link_to 'New topic', new_topic_path %> |
<% if (session[:user_id] == nil) %>
  <%= link_to 'Log in', url_for(:controller => :session, :action => :new) %>
<% else %>
  <%= link_to 'Log out', url_for(:controller => :session, :action => :destroy) %>
<% end %>
<br></br>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th colspan="2"></th>
  </tr>

  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title %></td>
      <td><%= topic.account_name %></td>
      <td><%= link_to 'Show', topic_path(topic) %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    </tr>
  <% end %>
</table>
